doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- FONTAWESOME CSS
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
        //- CSS STYLE
        link(rel="stylesheet", href="../assets/css/main.css")
        //- JAVASCRIPT 
        script(defer src="./assets/js/script.js") 
        title Greenshop 
    body 
        include ./components/header.pug
        main.main 
            section.hero 
                .container 
                    .hero__description 
                        span.title Welcome to GreenShop
                        h1 Let’s Make a Better 
                            span.text-green Planet
                        p.desc We are an online plant shop offering a wide range 
                            span cheap and trendy plants. Use our plants to create an unique Urban Jungle. Order your favorite plants!
                        a.hero.btn SHOP NOW
                        a.hero-rwd-btn SHOP NOW 
                            <i class="fa-solid fa-arrow-right"></i>
                    .hero__images
                        img(src="../assets/images/hero-little.png", alt="Flower")
                        img.big__img(src="../assets/images/hero.png", alt="FLower")
            //- SECTION FILTER AND PRODUCTS
            section.filterProduct 
                .container 
                    .filter 
                        h4 categories
                        ol.product_list 
                            li.list__item 
                                a.list__link.active(href="#") house plants 
                                    span (13) 
                            li.list__item 
                                a.list__link(href="#") potter plants 
                                    span (12)
                            li.list__item 
                                a.list__link(href="#") seeds 
                                    span (65)
                            li.list__item 
                                a.list__link(href="#") small plants 
                                    span (39)
                            li.list__item 
                                a.list__link(href="#") big plants 
                                    span (23)
                            li.list__item 
                                a.list__link(href="#") succulents 
                                    span (17)
                            li.list__item 
                                a.list__link(href="#") trerrariums 
                                    span (19)
                            li.list__item 
                                a.list__link(href="#") gardening plants 
                                    span (13)
                            li.list__item 
                                a.list__link(href="#") accessories 
                                    span (18)
                                    
                        h4.price__title Price range 
                        .price__range 
                            .slider 
                                .progress
                            .range__input 
                                input.minInput(type="range", min="0", max="1900", value="0")
                                input.maxInput(type="range", min="0", max="1900", value="1230")
                            p.price 
                                span.spanPrice $ 
                                    input.input-min(type="text", value="0", disabled)
                                    input.input-max(type="text", value="1230", disabled)
                                a(href="#").filter__btn Filter 
                        h4.size__title size
                        ol.size
                            li.size__item 
                                a.size__link(href="#") Small    
                                    span (119)
                            li.size__item 
                                a.size__link(href="#") Medium    
                                    span (86)
                            li.size__item 
                                a.size__link(href="#") Large    
                                    span (78)
                        .super__sale    
                            img(src="../assets/images/SuperSale.png", alt="Super sale")
                            span UP TO 75% OFF
                            img.super-sale-img(src="../assets/images/super-sale-img.png", alt="sale image")
                    .products 
                        .product__title 
                            ol.title__list 
                                li.title__item.active
                                    a.title__link(href="#") All plants 
                                li.title__item
                                    a.title__link(href="#") New Arrivals
                                li.title__item
                                    a.title__link(href="#") Sale 
                            .short__by 
                                .title Short by: 
                                select#sort(name="sort") 
                                    option(value="defaul_sorting") Default sorting
                                    option(value="defaul_sorting") Default sorting
                                    option(value="defaul_sorting") Default sorting
                        ol.product__list
                            li.product__list__item 
                                .product__card 
                                    img(src="../assets/images/plant-1.png", alt="Plant")
                                    .btns 
                                        i.fa-solid.fa-cart-shopping
                                        i.fa-regular.fa-heart
                                        i.fa-solid.fa-magnifying-glass
                                .desc 
                                    span.product__name Barberton Daisy
                                    span.product__price $119.00
                            li.product__list__item 
                                .product__card 
                                    img(src="../assets/images/plant-2.png", alt="Plant")
                                    .btns 
                                        i.fa-solid.fa-cart-shopping
                                        i.fa-regular.fa-heart
                                        i.fa-solid.fa-magnifying-glass
                                .desc 
                                    span.product__name Angel Wing Begonia
                                    span.product__price $169.00
                            li.product__list__item 
                                .product__card 
                                    img(src="../assets/images/plant-3.png", alt="Plant")
                                    .btns 
                                        i.fa-solid.fa-cart-shopping
                                        i.fa-regular.fa-heart
                                        i.fa-solid.fa-magnifying-glass
                                .desc 
                                    span.product__name African Violet
                                    span.product__price $199.00
                            li.product__list__item 
                                .product__card 
                                    img(src="../assets/images/plant-4.png", alt="Plant")
                                    .btns 
                                        i.fa-solid.fa-cart-shopping
                                        i.fa-regular.fa-heart
                                        i.fa-solid.fa-magnifying-glass
                                .desc 
                                    span.product__name Beach Spider Lily
                                    span.product__price $129.00
                            li.product__list__item 
                                .product__card 
                                    img(src="../assets/images/plant-5.png", alt="Plant")
                                    .btns 
                                        i.fa-solid.fa-cart-shopping
                                        i.fa-regular.fa-heart
                                        i.fa-solid.fa-magnifying-glass
                                .desc 
                                    span.product__name Blushing Bromeliad
                                    span.product__price $139.00
                            li.product__list__item 
                                .product__card 
                                    img(src="../assets/images/plant-6.png", alt="Plant")
                                    .btns 
                                        i.fa-solid.fa-cart-shopping
                                        i.fa-regular.fa-heart
                                        i.fa-solid.fa-magnifying-glass
                                .desc 
                                    span.product__name Aluminum Plant
                                    span.product__price $179.00
                            li.product__list__item 
                                .product__card 
                                    img(src="../assets/images/plant-7.png", alt="Plant")
                                    .btns 
                                        i.fa-solid.fa-cart-shopping
                                        i.fa-regular.fa-heart
                                        i.fa-solid.fa-magnifying-glass
                                .desc 
                                    span.product__name Bird's Nest Fern
                                    span.product__price $99.00
                            li.product__list__item 
                                .product__card 
                                    img(src="../assets/images/plant-8.png", alt="Plant")
                                    .btns 
                                        i.fa-solid.fa-cart-shopping
                                        i.fa-regular.fa-heart
                                        i.fa-solid.fa-magnifying-glass
                                .desc 
                                    span.product__name Broadleaf Lady Palm
                                    span.product__price $59.00
                            li.product__list__item 
                                .product__card 
                                    img(src="../assets/images/plant-9.png", alt="Plant")
                                    .btns 
                                        i.fa-solid.fa-cart-shopping
                                        i.fa-regular.fa-heart
                                        i.fa-solid.fa-magnifying-glass
                                .desc 
                                    span.product__name Chinese Evergreen
                                    span.product__price $39.00
                        .pagenation 
                            a.active(href="#") 1
                            a(href="#") 2
                            a(href="#") 3
                            a(href="#") 4
                            a(href="#")
                                i.fa-solid.fa-chevron-right   
                    
            //- SECTION PRODUCT POST
            section.product__block  
                .container 
                    .product__box
                        .left 
                            img(src="../assets/images/find-1.png", alt="Find one")
                        .description 
                            h4 Summer cactus & succulents
                            p We are an online plant shop offering a wide range of cheap and trendy plants
                            a.btn(href="#") Find more 
                                i.fa-solid.fa-arrow-right
                    .product__box
                        .left 
                            img(src="../assets/images/find-2.png", alt="Find one")
                        .description 
                            h4 Styling Trends & much more
                            p We are an online plant shop offering a wide range of cheap and trendy plants
                            a.btn(href="#") Find more 
                                i.fa-solid.fa-arrow-right
            //- OUR BLOG POST
            section.blog
                .container 
                    .title 
                        h4 our blog posts 
                        p We are an online plant shop offering a wide range of cheap and trendy plants. 
                    ol.card__list
                        li.card 
                            img(src="../assets/images/post-1.png", alt="Post image")
                            .desc
                                span.datetime September 12  I Read in 6 minutes
                                h4 Cactus & Succulent Care Tips
                                span.description Cacti are succulents are easy care plants for any home or patio. 
                                a.btn(href="#") read more 
                                    i.fa-solid.fa-arrow-right
                        li.card 
                            img(src="../assets/images/post-2.png", alt="Post image")
                            .desc
                                span.datetime September 13  I Read in 2 minutes
                                h4 Top 10 Succulents for Your Home
                                span.description Best in hanging baskets. Prefers medium to high light. 
                                a.btn(href="#") read more 
                                    i.fa-solid.fa-arrow-right
                        li.card 
                            img(src="../assets/images/post-3.png", alt="Post image")
                            .desc
                                span.datetime September 15  I Read in 3 minutes
                                h4 Cacti & Succulent Care Tips
                                span.description Cacti and succulents thrive and because most are. 
                                a.btn(href="#") read more 
                                    i.fa-solid.fa-arrow-right
                        li.card 
                            img(src="../assets/images/post-4.png", alt="Post image")
                            .desc
                                span.datetime September 15  I Read in 2 minutes
                                h4 Best Houseplants Room by Room
                                span.description The benefits of houseplants are endless. In addition to.. 
                                a.btn(href="#") read more 
                                    i.fa-solid.fa-arrow-right
            include ./components/footer.pug
                    