
<footer class="footer"> 
  <div class="container">
    <div class="footer__top"> 
      <ol class="list"> 
        <li class="list__item"> <img src="../assets/images/garden-care-top.png" alt="Garden"/><img src="../assets/images/garden-care-main.png" alt="Garden"/>
          <h4>Garden Care</h4>
          <p>We are an online plant shop offering a wide range of cheap and trendy plants.</p>
        </li>
        <li class="list__item"> <img src="../assets/images/plant-renovation.png" alt="Renovation"/>
          <h4>Plant Renovation</h4>
          <p>We are an online plant shop offering a wide range of cheap and trendy plants.</p>
        </li>
        <li class="list__item"> <img src="../assets/images/watering-graden.png" alt="Garden"/>
          <h4>Watering Graden</h4>
          <p>We are an online plant shop offering a wide range of cheap and trendy plants.</p>
        </li>
      </ol>
      <div class="email">
        <h4>Would you like to join newsletters?</h4>
        <form action="/"> 
          <input id="email" type="email" placeholder="enter your email address..."/>
          <input id="email-btn" type="submit" value="join"/>
        </form>
        <p>We usually post offers and challenges in newsletter. We’re your online houseplant destination. We offer a wide range of houseplants and accessories shipped directly from our (green)house to yours! </p>
      </div>
    </div>
    <div class="footer__main"><img class="logo" src="../assets/images/icons/logo.svg"/><a class="address" href="#"> <i class="fa-solid fa-location-dot"></i><span>70 West Buckingham Ave. Farmingdale, NY 11735</span></a><a class="email" href="#"><i class="fa-regular fa-envelope"> </i><span>contact@greenshop.com</span></a><a class="phone" href="#"><i class="fa-solid fa-phone-volume"></i><span>+88 01911 717 490</span></a></div>
    <div class="footer__bottom">
      <ol class="list">
        <li class="list__item">
          <h4>My Account</h4><a href="#">My Account</a><a href="#">Our stores</a><a href="#">Contact us </a><a href="#">Career</a><a href="#">Specials</a>
        </li>
        <li class="list__item">
          <h4>Help & Guide</h4><a href="#">Help Center</a><a href="#">How to Buy</a><a href="#">Shipping & Delivery </a><a href="#">Product Policy</a><a href="#">How to Return</a>
        </li>
        <li class="list__item">
          <h4>Categories</h4><a href="#">House Plants</a><a href="#">Potter Plants</a><a href="#">Seeds </a><a href="#">Small Plants</a><a href="#">Accessories</a>
        </li>
      </ol>
      <div class="social-media"> 
        <h4>Social Media</h4>
        <div id="social-media"><a href="#"> <i class="fa-brands fa-facebook-f"></i></a><a href="#"> <i class="fa-brands fa-instagram"></i></a><a href="#"> <i class="fa-brands fa-twitter"></i></a><a href="#"> <i class="fa-brands fa-linkedin-in"></i></a><a href="#"> <i class="fa-brands fa-youtube"></i></a></div>
        <h4 class="accept">We accept</h4>
        <div class="finance"> <a href="#"><i class="fa-brands fa-cc-paypal"></i></a><a href="#"><i class="fa-brands fa-cc-mastercard"></i></a><a href="#"><i class="fa-brands fa-cc-visa"></i></a><a href="#"><img src="../assets/images/icons/American-Express-icon.png" alt="American Express"/></a></div>
      </div>
    </div>
    <div class="copyright"> <span>© 2021 GreenShop. All Rights Reserved.</span></div>
  </div>
</footer>
<div class="navigation"> 
  <ul> 
    <li class="list active"><a href="#"> <span class="icon"> <i class="fa-solid fa-house"></i></span></a></li>
    <li class="list"> <a href="#"> <span class="icon"> <i class="fa-solid fa-heart"></i></span></a></li>
    <li class="list"> <a href="#"> <span class="icon"><img src="../assets/images/icons/home.png" alt="Product"/></span></a></li>
    <li class="list"> <a href="#"> <span class="icon"> <i class="fa-solid fa-cart-shopping"></i></span></a></li>
    <li class="list"> <a href="#"> <span class="icon"> <i class="fa-solid fa-user"></i></span></a></li>
    <div class="indicator"></div>
  </ul>
</div>