
<header class="header"> 
  <div class="container">
    <nav> <img src="../assets/images/icons/logo.svg" alt="Logo"/>
      <ol class="nav"> 
        <li class="nav__item">   <a class="nav__link" href="index.html">Home </a></li>
        <li class="nav__item">   <a class="nav__link" href="shop.html">Shop</a></li>
        <li class="nav__item">   <a class="nav__link" href="/">Plant Care</a></li>
        <li class="nav__item">   <a class="nav__link" href="/">Blogs</a></li>
      </ol>
      <div class="btn-block"> 
        <div class="search-btn"> <img src="../assets/images/icons/search-icon.svg" alt="Search button"/></div><a class="cart-btn" href="cart.html"> <img src="../assets/images/icons/cart-icon.svg" alt="Cart button"/><span>0</span></a><a class="login btn" href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i> login</a>
      </div>
    </nav>
    <div class="rwd-block">
      <form class="rwd-search-btn" action="/"> <a href="#"> <img src="../assets/images/icons/search-icon.svg" alt="Search button"/></a>
        <input type="text" placeholder="Find your plants"/>
      </form><a class="filter-btn" href="#"><img src="../assets/images/icons/Filter.svg" alt="Filter"/></a>
    </div>
  </div>
</header>