
<section class="releted_product">
  <div class="container"> 
    <h4 class="title">releted products </h4>
    <ol class="product__list">
      <li class="product__list__item"> 
        <div class="product__card"> <img src="../assets/images/plant-5.png" alt="Plant"/>
          <div class="btns"> <i class="fa-solid fa-cart-shopping"></i><i class="fa-regular fa-heart"></i><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
        <div class="desc"> <span class="product__name">Blushing Bromeliad</span><span class="product__price">$139.00</span></div>
      </li>
      <li class="product__list__item"> 
        <div class="product__card"> <img src="../assets/images/plant-6.png" alt="Plant"/>
          <div class="btns"> <i class="fa-solid fa-cart-shopping"></i><i class="fa-regular fa-heart"></i><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
        <div class="desc"> <span class="product__name">Aluminum Plant</span><span class="product__price">$179.00</span></div>
      </li>
      <li class="product__list__item"> 
        <div class="product__card"> <img src="../assets/images/plant-7.png" alt="Plant"/>
          <div class="btns"> <i class="fa-solid fa-cart-shopping"></i><i class="fa-regular fa-heart"></i><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
        <div class="desc"> <span class="product__name">Bird's Nest Fern</span><span class="product__price">$99.00</span></div>
      </li>
      <li class="product__list__item"> 
        <div class="product__card"> <img src="../assets/images/plant-8.png" alt="Plant"/>
          <div class="btns"> <i class="fa-solid fa-cart-shopping"></i><i class="fa-regular fa-heart"></i><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
        <div class="desc"> <span class="product__name">Broadleaf Lady Palm</span><span class="product__price">$59.00</span></div>
      </li>
      <li class="product__list__item"> 
        <div class="product__card"> <img src="../assets/images/plant-9.png" alt="Plant"/>
          <div class="btns"> <i class="fa-solid fa-cart-shopping"></i><i class="fa-regular fa-heart"></i><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
        <div class="desc"> <span class="product__name">Chinese Evergreen</span><span class="product__price">$39.00</span></div>
      </li>
    </ol>
    <ol class="pagenation-btn">
      <li></li>
      <li class="active"></li>
      <li></li>
    </ol>
  </div>
</section>