section.releted_product
     .container 
        h4.title releted products 
        ol.product__list
            li.product__list__item 
                .product__card 
                    img(src="../assets/images/plant-5.png", alt="Plant")
                    .btns 
                        i.fa-solid.fa-cart-shopping
                        i.fa-regular.fa-heart
                        i.fa-solid.fa-magnifying-glass
                .desc 
                    span.product__name Blushing Bromeliad
                    span.product__price $139.00
            li.product__list__item 
                .product__card 
                    img(src="../assets/images/plant-6.png", alt="Plant")
                    .btns 
                        i.fa-solid.fa-cart-shopping
                        i.fa-regular.fa-heart
                        i.fa-solid.fa-magnifying-glass
                .desc 
                    span.product__name Aluminum Plant
                    span.product__price $179.00
            li.product__list__item 
                .product__card 
                    img(src="../assets/images/plant-7.png", alt="Plant")
                    .btns 
                        i.fa-solid.fa-cart-shopping
                        i.fa-regular.fa-heart
                        i.fa-solid.fa-magnifying-glass
                .desc 
                    span.product__name Bird's Nest Fern
                    span.product__price $99.00
            li.product__list__item 
                .product__card 
                    img(src="../assets/images/plant-8.png", alt="Plant")
                    .btns 
                        i.fa-solid.fa-cart-shopping
                        i.fa-regular.fa-heart
                        i.fa-solid.fa-magnifying-glass
                .desc 
                    span.product__name Broadleaf Lady Palm
                    span.product__price $59.00
            li.product__list__item 
                .product__card 
                    img(src="../assets/images/plant-9.png", alt="Plant")
                    .btns 
                        i.fa-solid.fa-cart-shopping
                        i.fa-regular.fa-heart
                        i.fa-solid.fa-magnifying-glass
                .desc 
                    span.product__name Chinese Evergreen
                    span.product__price $39.00
        ol.pagenation-btn
            li
            li.active
            li


