@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
.container {
  width: 120rem;
  margin: 0 auto;
}

.header .container nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5.3rem;
  margin-top: 2.5rem;
  border-bottom: 0.2rem solid #46A358;
  padding-bottom: 2.6rem;
}
.header .container nav .nav {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.header .container nav .nav .nav__item .nav__link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #3D3D3D;
  cursor: pointer;
}
.header .container nav .nav .nav__item .active, .header .filterProduct .container nav .nav .nav__item .filter .product_list .list__item .list__link:hover, .filterProduct .header .container nav .nav .nav__item .filter .product_list .list__item .list__link:hover, .header .filterProduct .container .filter .product_list .list__item nav .nav .nav__item .list__link:hover, .filterProduct .header .container .filter .product_list .list__item nav .nav .nav__item .list__link:hover, .header .container nav .nav .nav__item .nav__link:hover {
  font-weight: 700;
  border-bottom: 0.3rem solid #46A358;
  padding: 3.3rem 0 2.5rem 0;
}
.header .container nav .btn-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}
.header .container nav .btn-block .search-btn {
  width: 2rem;
  cursor: pointer;
}
.header .container nav .btn-block .cart-btn {
  width: 2.9rem;
  position: relative;
  cursor: pointer;
}
.header .container nav .btn-block .cart-btn span {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: -0.5rem;
  right: -0.5rem;
  width: 2rem;
  height: 2rem;
  background-color: #46A358;
  border: 0.3rem solid #fff;
  border-radius: 50%;
  z-index: 1;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}
.header .container nav .btn-block .login {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #46A358;
  color: #fff;
  padding: 0.8rem 1.7rem;
  font-weight: 500;
  font-size: 1.6rem;
  border-radius: 1rem;
  text-transform: capitalize;
  transition: background-color 3ms ease-in;
}
.header .container nav .btn-block .login i {
  margin-right: 1rem;
}
.header .container nav .btn-block .login:hover {
  background-color: #46A358;
  opacity: 0.3;
  transition: background-color 3ms ease-in;
}
.header .container .rwd-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: none;
  width: -moz-max-content;
  width: max-content;
}
.header .container .rwd-block .rwd-search-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f8f8f8;
  padding: 1.5rem 1.1rem;
  border-radius: 1rem;
}
.header .container .rwd-block .rwd-search-btn img {
  margin-right: 0.8rem;
}
.header .container .rwd-block .rwd-search-btn input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: #3D3D3D;
  background: transparent;
}
.header .container .rwd-block .filter-btn {
  background-image: linear-gradient(90deg, #46A358, rgba(70, 163, 89, 0.4666666667));
  padding: 1.2rem;
  border-radius: 1.4rem;
}

@media only screen and (max-width: 768px) {
  .header .container {
    width: 100%;
    margin: 0 auto;
  }
  .header .container nav {
    display: none;
  }
  .header .container .rwd-block {
    display: block;
    margin-top: 4rem;
    margin-left: 2.4rem;
  }
  .header .container .rwd-block .rwd-search-btn {
    width: 31.3rem;
    height: 4.5rem;
    float: left;
    margin-right: 0.8rem;
  }
  .header .container .rwd-block .filter-btn {
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
  }
  .header .container .rwd-block .filter-btn:hover {
    box-shadow: 0 0 0.8rem #46A358;
  }
}
.hero {
  margin-top: 1.2rem;
}
.hero .container {
  height: 45rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-image: linear-gradient(30deg, #F5F5F5, rgba(245, 245, 245, 0.5176470588));
  margin-left: auto;
  position: relative;
  padding: 0 4rem;
}
.hero .container .hero__description {
  width: 56rem;
  padding-top: 6.8rem;
}
.hero .container .hero__description .title {
  font-size: 1.4rem;
  font-weight: 500;
  color: #3D3D3D;
  text-transform: uppercase;
  line-height: 1.6rem;
  letter-spacing: 10%;
}
.hero .container .hero__description h1 {
  font-size: 7rem;
  line-height: 7rem;
}
.hero .container .hero__description h1 .text-green {
  color: #46A358;
}
.hero .container .hero__description .desc {
  font-size: 1.4rem;
  font-weight: 400;
  color: #727272;
  line-height: 2.4rem;
  margin-bottom: 4.4rem;
}
.hero .container .hero__description .hero.btn {
  font-size: 1.6rem;
  font-weight: 700;
  border: none;
  background-color: #46A358;
  color: #fff;
  line-height: 2rem;
  padding: 1.1rem 2.6rem;
  border-radius: 0.6rem;
  transition: box-shadow 0.3s ease-in-out;
}
.hero .container .hero__description .hero.btn i {
  display: none;
}
.hero .container .hero__description .hero.btn:hover {
  box-shadow: 0 0 1rem #46A358;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}
.hero .container .hero__description .hero-rwd-btn {
  display: none;
}
.hero .container .hero__images {
  padding-top: 2;
}
.hero .container .hero__images img:first-child {
  position: absolute;
  right: 34rem;
  bottom: 3.5rem;
}
.hero .container .hero__images .big__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 47rem;
}

@media only screen and (max-width: 768px) {
  .hero {
    margin-top: 1.7rem;
  }
  .hero .container {
    overflow: hidden;
    width: 36.6rem;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 4rem;
    padding: 2.4rem;
    background-image: linear-gradient(30deg, rgba(86, 237, 116, 0.6156862745), rgba(22, 248, 41, 0.4196078431), rgba(109, 238, 135, 0.2901960784));
  }
  .hero .container .hero__description {
    width: 20.6rem;
    padding-top: 0;
  }
  .hero .container .hero__description .title {
    font-size: 1.1rem;
    font-weight: 500;
    color: #3D3D3D;
    text-transform: uppercase;
    line-height: 1.6rem;
    letter-spacing: 10%;
  }
  .hero .container .hero__description h1 {
    font-size: 2.4rem;
    line-height: 2.9rem;
  }
  .hero .container .hero__description h1 .text-green {
    color: #46A358;
  }
  .hero .container .hero__description .desc {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 1rem;
  }
  .hero .container .hero__description .desc span {
    display: none;
  }
  .hero .container .hero__description .hero.btn {
    display: none;
  }
  .hero .container .hero__description .hero-rwd-btn {
    font-weight: 700;
    font-size: 1.2rem;
    background: none;
    color: #46A358;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }
  .hero .container .hero__description .hero-rwd-btn i {
    display: block;
    margin-left: 0.2rem;
  }
  .hero .container .hero__images img:first-child {
    width: 8.2rem;
    position: absolute;
    right: 6rem;
    bottom: 1.3rem;
  }
  .hero .container .hero__images .big__img {
    width: 21.3rem;
    position: absolute;
    right: -7rem;
    bottom: 0;
  }
}
.filterProduct {
  margin-top: 3rem;
}
.filterProduct .container .filter {
  padding: 1.4rem 2.4rem;
  max-width: 31rem;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #FBFBFB;
}
.filterProduct .container .filter h4 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6rem;
  margin-bottom: 0.7rem;
  text-transform: capitalize;
  color: #3D3D3D;
}
.filterProduct .container .filter .product_list {
  margin-left: 1rem;
  margin-bottom: 3.6rem;
}
.filterProduct .container .filter .product_list .list__item .list__link {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 4rem;
  text-transform: capitalize;
  color: #3D3D3D;
}
.filterProduct .container .filter .product_list .list__item .list__link span {
  float: right;
}
.filterProduct .container .filter .product_list .list__item .list__link.active, .filterProduct .container .filter .product_list .list__item .list__link:hover {
  color: #46A358;
  font-weight: 700;
}
.filterProduct .container .filter .price__title {
  margin-bottom: 4rem;
}
.filterProduct .container .filter .price__range {
  padding-left: 1rem;
}
.filterProduct .container .filter .price__range .slider {
  height: 0.5rem;
  border-radius: 0.5rem;
  background: #C5C5C5;
  position: relative;
}
.filterProduct .container .filter .price__range .slider .progress {
  height: 0.5rem;
  left: 0%;
  right: 35%;
  position: absolute;
  border-radius: 0.5rem;
  background-color: #46A358;
}
.filterProduct .container .filter .price__range .range__input {
  position: relative;
  margin-bottom: 1rem;
}
.filterProduct .container .filter .price__range .range__input input {
  position: absolute;
  top: -0.5rem;
  height: 0.5rem;
  width: 100%;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  cursor: pointer;
}
.filterProduct .container .filter .price__range .range__input input[type=range]::-webkit-slider-thumb {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 0.3rem solid #fff;
  pointer-events: auto;
  -webkit-appearance: none;
  background-color: #46A358;
}
.filterProduct .container .filter .price__range .range__input input[type=range]::-moz-range-thumb {
  height: 1.7rem;
  width: 2.7rem;
  border-radius: 50%;
  pointer-events: auto;
  -moz-appearance: none;
  background-color: #46A358;
}
.filterProduct .container .filter .price__range .price {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4.6rem;
  position: relative;
  width: 17rem;
}
.filterProduct .container .filter .price__range .price span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #46A358;
  font-size: 1.5rem;
  font-weight: 700;
}
.filterProduct .container .filter .price__range .price span input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
}
.filterProduct .container .filter .price__range .price span input[value] {
  font-size: 1.5rem;
  font-weight: 700;
  color: #46A358;
}
.filterProduct .container .filter .price__range .price .spanPrice {
  margin-left: 5rem;
}
.filterProduct .container .filter .price__range .price .spanPrice::before {
  content: "Price:";
  position: absolute;
  font-size: 1.5rem;
  font-weight: 400;
  color: #3D3D3D;
  left: 0;
  line-height: 1.6rem;
}
.filterProduct .container .filter .price__range .price .filter__btn {
  padding: 0.8rem 2.6rem;
  background-color: #46A358;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
  margin-left: -8rem;
  left: 0;
  top: 3rem;
  transition: box-shadow 0.3s ease-in-out;
}
.filterProduct .container .filter .price__range .price .filter__btn:hover {
  box-shadow: 0 0 1rem #46A358;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}
.filterProduct .container .filter .size {
  margin-top: 4.6rem;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
.filterProduct .container .filter .size .size__item {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 4rem;
}
.filterProduct .container .filter .size .size__item .size__link {
  color: #3D3D3D;
}
.filterProduct .container .filter .size .size__item .size__link span {
  float: right;
}
.filterProduct .container .filter .size .size__item .size__link:hover {
  color: #46A358;
  font-weight: 600;
}
.filterProduct .container .filter .super__sale {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  text-align: center;
  width: 100%;
  padding: 0 2rem;
  background-image: linear-gradient(45deg, rgba(70, 163, 89, 0.3333333333), rgba(70, 163, 89, 0.1568627451));
}
.filterProduct .container .filter .super__sale span {
  margin-top: 1.1rem;
  margin-bottom: 0.6rem;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.6rem;
  text-transform: uppercase;
  color: #3D3D3D;
}
.filterProduct .container .filter .super__sale .super-sale-img {
  width: 37rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}
body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}/*# sourceMappingURL=main.css.map */