@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
.container {
  width: 120rem;
  margin: 0 auto;
}

.header .container nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5.3rem;
  margin-top: 2.5rem;
  border-bottom: 0.2rem solid #46A358;
  padding-bottom: 2.6rem;
}
.header .container nav .nav {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.header .container nav .nav .nav__item .nav__link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #3D3D3D;
  cursor: pointer;
}
.header .container nav .nav .nav__item .active, .header .filterProduct .container nav .nav .nav__item .products .pagenation a:hover, .filterProduct .header .container nav .nav .nav__item .products .pagenation a:hover, .header .filterProduct .container .products .pagenation nav .nav .nav__item a:hover, .filterProduct .header .container .products .pagenation nav .nav .nav__item a:hover, .header .filterProduct .container nav .nav .nav__item .products .product__title .title__list .title__item:hover, .filterProduct .header .container nav .nav .nav__item .products .product__title .title__list .title__item:hover, .header .filterProduct .container .products .product__title .title__list nav .nav .nav__item .title__item:hover, .filterProduct .header .container .products .product__title .title__list nav .nav .nav__item .title__item:hover, .header .filterProduct .container nav .nav .nav__item .filter .product_list .list__item .list__link:hover, .filterProduct .header .container nav .nav .nav__item .filter .product_list .list__item .list__link:hover, .header .filterProduct .container .filter .product_list .list__item nav .nav .nav__item .list__link:hover, .filterProduct .header .container .filter .product_list .list__item nav .nav .nav__item .list__link:hover, .header .container nav .nav .nav__item .nav__link:hover {
  font-weight: 700;
  border-bottom: 0.3rem solid #46A358;
  padding: 3.3rem 0 2.5rem 0;
}
.header .container nav .btn-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}
.header .container nav .btn-block .search-btn {
  width: 2rem;
  cursor: pointer;
}
.header .container nav .btn-block .cart-btn {
  width: 2.9rem;
  position: relative;
  cursor: pointer;
}
.header .container nav .btn-block .cart-btn span {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: -0.5rem;
  right: -0.5rem;
  width: 2rem;
  height: 2rem;
  background-color: #46A358;
  border: 0.3rem solid #fff;
  border-radius: 50%;
  z-index: 1;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}
.header .container nav .btn-block .login {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #46A358;
  color: #fff;
  padding: 0.8rem 1.7rem;
  font-weight: 500;
  font-size: 1.6rem;
  border-radius: 1rem;
  text-transform: capitalize;
  transition: background-color 3ms ease-in;
}
.header .container nav .btn-block .login i {
  margin-right: 1rem;
}
.header .container nav .btn-block .login:hover {
  background-color: #46A358;
  opacity: 0.3;
  transition: background-color 3ms ease-in;
}
.header .container .rwd-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: none;
  width: -moz-max-content;
  width: max-content;
}
.header .container .rwd-block .rwd-search-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f8f8f8;
  padding: 1.5rem 1.1rem;
  border-radius: 1rem;
}
.header .container .rwd-block .rwd-search-btn img {
  margin-right: 0.8rem;
}
.header .container .rwd-block .rwd-search-btn input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: #3D3D3D;
  background: transparent;
}
.header .container .rwd-block .filter-btn {
  background-image: linear-gradient(90deg, #46A358, rgba(70, 163, 89, 0.4666666667));
  padding: 1.2rem;
  border-radius: 1.4rem;
}

@media only screen and (max-width: 768px) {
  .header .container {
    width: 100%;
    margin: 0 auto;
  }
  .header .container nav {
    display: none;
  }
  .header .container .rwd-block {
    display: block;
    margin-top: 4rem;
    margin-left: 2.4rem;
  }
  .header .container .rwd-block .rwd-search-btn {
    width: 31.3rem;
    height: 4.5rem;
    float: left;
    margin-right: 0.8rem;
  }
  .header .container .rwd-block .filter-btn {
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
  }
  .header .container .rwd-block .filter-btn:hover {
    box-shadow: 0 0 0.8rem #46A358;
  }
}
.hero {
  margin-top: 1.2rem;
}
.hero .container {
  height: 45rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-image: linear-gradient(30deg, #F5F5F5, rgba(245, 245, 245, 0.5176470588));
  margin-left: auto;
  position: relative;
  padding: 0 4rem;
}
.hero .container .hero__description {
  width: 56rem;
  padding-top: 6.8rem;
}
.hero .container .hero__description .title {
  font-size: 1.4rem;
  font-weight: 500;
  color: #3D3D3D;
  text-transform: uppercase;
  line-height: 1.6rem;
  letter-spacing: 10%;
}
.hero .container .hero__description h1 {
  font-size: 7rem;
  line-height: 7rem;
}
.hero .container .hero__description h1 .text-green {
  color: #46A358;
}
.hero .container .hero__description .desc {
  font-size: 1.4rem;
  font-weight: 400;
  color: #727272;
  line-height: 2.4rem;
  margin-bottom: 4.4rem;
}
.hero .container .hero__description .hero.btn {
  font-size: 1.6rem;
  font-weight: 700;
  border: none;
  background-color: #46A358;
  color: #fff;
  line-height: 2rem;
  padding: 1.1rem 2.6rem;
  border-radius: 0.6rem;
  transition: box-shadow 0.3s ease-in-out;
}
.hero .container .hero__description .hero.btn i {
  display: none;
}
.hero .container .hero__description .hero.btn:hover {
  box-shadow: 0 0 1rem #46A358;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}
.hero .container .hero__description .hero-rwd-btn {
  display: none;
}
.hero .container .hero__images {
  padding-top: 2;
}
.hero .container .hero__images img:first-child {
  position: absolute;
  right: 34rem;
  bottom: 3.5rem;
}
.hero .container .hero__images .big__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 47rem;
}

@media only screen and (max-width: 768px) {
  .hero {
    margin-top: 1.7rem;
  }
  .hero .container {
    overflow: hidden;
    width: 36.6rem;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 4rem;
    padding: 2.4rem;
    background-image: linear-gradient(30deg, rgba(86, 237, 116, 0.6156862745), rgba(22, 248, 41, 0.4196078431), rgba(109, 238, 135, 0.2901960784));
  }
  .hero .container .hero__description {
    width: 20.6rem;
    padding-top: 0;
  }
  .hero .container .hero__description .title {
    font-size: 1.1rem;
    font-weight: 500;
    color: #3D3D3D;
    text-transform: uppercase;
    line-height: 1.6rem;
    letter-spacing: 10%;
  }
  .hero .container .hero__description h1 {
    font-size: 2.4rem;
    line-height: 2.9rem;
  }
  .hero .container .hero__description h1 .text-green {
    color: #46A358;
  }
  .hero .container .hero__description .desc {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 1rem;
  }
  .hero .container .hero__description .desc span {
    display: none;
  }
  .hero .container .hero__description .hero.btn {
    display: none;
  }
  .hero .container .hero__description .hero-rwd-btn {
    font-weight: 700;
    font-size: 1.2rem;
    background: none;
    color: #46A358;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }
  .hero .container .hero__description .hero-rwd-btn i {
    display: block;
    margin-left: 0.2rem;
  }
  .hero .container .hero__images img:first-child {
    width: 8.2rem;
    position: absolute;
    right: 6rem;
    bottom: 1.3rem;
  }
  .hero .container .hero__images .big__img {
    width: 21.3rem;
    position: absolute;
    right: -7rem;
    bottom: 0;
  }
}
.footer .container {
  background-color: #FBFBFB;
}
.footer .container .footer__top {
  padding: 2.5rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 2.3rem;
}
.footer .container .footer__top .list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.4rem;
}
.footer .container .footer__top .list .list__item {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  width: 23rem;
  border-right: 0.1rem solid #eee;
  padding-right: 3.4rem;
}
.footer .container .footer__top .list .list__item img {
  position: relative;
  width: 5.5rem;
}
.footer .container .footer__top .list .list__item img::before {
  content: "";
  left: 0;
  width: 7.4rem;
  height: 7.4rem;
  border-radius: 50%;
  background-color: rgba(70, 163, 89, 0.2078431373);
  z-index: 1;
}
.footer .container .footer__top .list .list__item h4 {
  margin-top: 1.7rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.6rem;
  color: #3d3d3d;
  margin-bottom: 0.9rem;
}
.footer .container .footer__top .list .list__item p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
  color: #727272;
}
.footer .container .footer__top .list .list__item:last-child {
  border-right: none;
}
.footer .container .footer__top .email h4, .footer .container .footer__top .footer__main .phone h4, .footer .container .footer__main .footer__top .phone h4 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6rem;
  color: #3d3d3d;
  margin-bottom: 1.8rem;
}
.footer .container .footer__top .email form, .footer .container .footer__top .footer__main .phone form, .footer .container .footer__main .footer__top .phone form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.7rem;
}
.footer .container .footer__top .email form input, .footer .container .footer__top .footer__main .phone form input, .footer .container .footer__main .footer__top .phone form input {
  border: none;
  outline: none;
}
.footer .container .footer__top .email form #email[placeholder], .footer .container .footer__top .footer__main .phone form #email[placeholder], .footer .container .footer__main .footer__top .phone form #email[placeholder] {
  color: #3d3d3d;
  text-transform: lowercase;
  padding: 1.2rem;
  width: 27rem;
  border-radius: 0.6rem 0 0 0.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
}
.footer .container .footer__top .email form #email-btn, .footer .container .footer__top .footer__main .phone form #email-btn, .footer .container .footer__main .footer__top .phone form #email-btn {
  width: 8.5rem;
  height: 4rem;
  color: #fff;
  background-color: #46A358;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6rem;
  border-radius: 0 0.6rem 0.6rem 0;
  text-transform: capitalize;
}
.footer .container .footer__top .email p, .footer .container .footer__top .footer__main .phone p, .footer .container .footer__main .footer__top .phone p {
  width: 37rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2.2rem;
  color: #727272;
}
.footer .container .footer__main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2.7rem;
  height: 8.8rem;
  background-color: rgba(70, 163, 89, 0.1254901961);
  margin-bottom: 3.3rem;
  gap: 6rem;
  border-top: 0.2rem solid #46A358;
  border-bottom: 0.2rem solid #46A358;
}
.footer .container .footer__main .address, .footer .container .footer__main .email, .footer .container .footer__main .phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
  width: 22rem;
  color: #3d3d3d;
}
.footer .container .footer__main .address i, .footer .container .footer__main .email i, .footer .container .footer__main .phone i {
  font-size: 2rem;
  margin-right: 1rem;
  color: #46A358;
}
.footer .container .footer__bottom {
  display: flex;
  flex-direction: row;
}
.footer .container .footer__bottom .list {
  display: flex;
  flex-direction: row;
  margin-left: 2.7rem;
  gap: 12.6rem;
}
.footer .container .footer__bottom .list .list__item {
  width: 13.7rem;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  gap: 0.8rem;
}
.footer .container .footer__bottom .list .list__item h4 {
  font-size: 1.8rem;
  font-weight: 1.6rem;
  color: #3d3d3d;
}
.footer .container .footer__bottom .list .list__item a {
  color: #727272;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 3rem;
  transition: color 0.3s ease-in-out;
}
.footer .container .footer__bottom .list .list__item a:hover {
  color: #46A358;
  transition: color 0.3s ease-in-out;
}
.footer .container .footer__bottom .social-media {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  margin-left: 9.3rem;
  margin-bottom: 2.7rem;
}
.footer .container .footer__bottom .social-media h4 {
  font-size: 1.8rem;
  font-weight: 1.6rem;
  color: #3d3d3d;
  margin-bottom: 3.3rem;
}
.footer .container .footer__bottom .social-media #social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.footer .container .footer__bottom .social-media #social-media i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: rgba(70, 163, 89, 0.4901960784);
  background: transparent;
  border: 0.2rem solid rgba(70, 163, 89, 0.4901960784);
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  border-radius: 0.6rem;
  transition: background color 0.3s ease-in-out;
}
.footer .container .footer__bottom .social-media #social-media i:hover {
  color: #fff;
  border: 0.2rem solid rgba(70, 163, 89, 0.4901960784);
  background: rgba(70, 163, 89, 0.4901960784);
  transition: all 0.3s ease-in-out;
}
.footer .container .footer__bottom .social-media .accept {
  margin-top: 3.3rem;
  margin-bottom: 1.3rem;
}
.footer .container .footer__bottom .social-media .finance {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 3rem;
}
.footer .container .footer__bottom .social-media .finance i {
  color: #46A358;
}
.footer .container .footer__bottom .social-media .finance img {
  width: 8rem;
}
.footer .container .copyright {
  font-size: 1.4rem;
  line-height: 3rem;
  font-weight: 400;
  text-align: center;
  padding: 1rem 0;
  background: #fff;
  color: #3d3d3d;
}

@media only screen and (max-width: 768px) {
  .footer {
    display: none;
  }
}
.filterProduct {
  margin-top: 3rem;
}
.filterProduct .container {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.filterProduct .container .filter {
  padding: 1.4rem 2.4rem;
  width: 31rem;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #FBFBFB;
}
.filterProduct .container .filter h4 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6rem;
  margin-bottom: 0.7rem;
  text-transform: capitalize;
  color: #3D3D3D;
}
.filterProduct .container .filter .product_list {
  margin-left: 1rem;
  margin-bottom: 3.6rem;
}
.filterProduct .container .filter .product_list .list__item .list__link {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 4rem;
  text-transform: capitalize;
  color: #3D3D3D;
}
.filterProduct .container .filter .product_list .list__item .list__link span {
  float: right;
}
.filterProduct .container .filter .product_list .list__item .list__link.active, .filterProduct .container .filter .product_list .list__item .list__link:hover {
  color: #46A358;
  font-weight: 700;
}
.filterProduct .container .filter .price__title {
  margin-bottom: 4rem;
}
.filterProduct .container .filter .price__range {
  padding-left: 1rem;
}
.filterProduct .container .filter .price__range .slider {
  height: 0.5rem;
  border-radius: 0.5rem;
  background: #C5C5C5;
  position: relative;
}
.filterProduct .container .filter .price__range .slider .progress {
  height: 0.5rem;
  left: 0%;
  right: 35%;
  position: absolute;
  border-radius: 0.5rem;
  background-color: #46A358;
}
.filterProduct .container .filter .price__range .range__input {
  position: relative;
  margin-bottom: 1rem;
}
.filterProduct .container .filter .price__range .range__input input {
  position: absolute;
  top: -0.5rem;
  height: 0.5rem;
  width: 100%;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  cursor: pointer;
}
.filterProduct .container .filter .price__range .range__input input[type=range]::-webkit-slider-thumb {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 0.3rem solid #fff;
  pointer-events: auto;
  -webkit-appearance: none;
  background-color: #46A358;
}
.filterProduct .container .filter .price__range .range__input input[type=range]::-moz-range-thumb {
  height: 1.7rem;
  width: 2.7rem;
  border-radius: 50%;
  pointer-events: auto;
  -moz-appearance: none;
  background-color: #46A358;
}
.filterProduct .container .filter .price__range .price {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4.6rem;
  position: relative;
  width: 17rem;
}
.filterProduct .container .filter .price__range .price span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #46A358;
  font-size: 1.5rem;
  font-weight: 700;
}
.filterProduct .container .filter .price__range .price span input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
}
.filterProduct .container .filter .price__range .price span input[value] {
  font-size: 1.5rem;
  font-weight: 700;
  color: #46A358;
}
.filterProduct .container .filter .price__range .price .spanPrice {
  margin-left: 5rem;
  margin-bottom: 2rem;
}
.filterProduct .container .filter .price__range .price .spanPrice::before {
  content: "Price:";
  position: absolute;
  font-size: 1.5rem;
  font-weight: 400;
  color: #3D3D3D;
  left: 0;
  line-height: 1.6rem;
}
.filterProduct .container .filter .price__range .price .filter__btn {
  padding: 0.8rem 2.6rem;
  background-color: #46A358;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
  margin-left: -8rem;
  left: 0;
  top: 3rem;
  transition: box-shadow 0.3s ease-in-out;
}
.filterProduct .container .filter .price__range .price .filter__btn:hover {
  box-shadow: 0 0 1rem #46A358;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}
.filterProduct .container .filter .size {
  margin-top: 4.6rem;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
.filterProduct .container .filter .size .size__item {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 4rem;
}
.filterProduct .container .filter .size .size__item .size__link {
  color: #3D3D3D;
}
.filterProduct .container .filter .size .size__item .size__link span {
  float: right;
}
.filterProduct .container .filter .size .size__item .size__link:hover {
  color: #46A358;
  font-weight: 600;
}
.filterProduct .container .filter .super__sale {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  text-align: center;
  width: 100%;
  padding: 0 2rem;
  background-image: linear-gradient(45deg, rgba(70, 163, 89, 0.3333333333), rgba(70, 163, 89, 0.1568627451));
}
.filterProduct .container .filter .super__sale img:first-child {
  width: 21rem;
  margin: 0 2.2rem;
}
.filterProduct .container .filter .super__sale span {
  margin-top: 1.1rem;
  margin-bottom: 0.6rem;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.6rem;
  text-transform: uppercase;
  color: #3D3D3D;
}
.filterProduct .container .filter .super__sale .super-sale-img {
  width: 30rem;
}
.filterProduct .container .products {
  position: relative;
  width: 100%;
  margin-bottom: 9.4rem;
}
.filterProduct .container .products .product__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.1rem;
}
.filterProduct .container .products .product__title .title__list {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
.filterProduct .container .products .product__title .title__list .title__item {
  padding-bottom: 0.7rem;
}
.filterProduct .container .products .product__title .title__list .title__item .title__link {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: #3D3D3D;
}
.filterProduct .container .products .product__title .title__list .active, .filterProduct .container .products .product__title .title__list .pagenation a:hover, .filterProduct .container .products .pagenation .product__title .title__list a:hover, .filterProduct .container .products .product__title .title__list .title__item:hover, .filterProduct .header .container .products .product__title .title__list nav .nav .nav__item .nav__link:hover, .header .filterProduct .container .products .product__title .title__list nav .nav .nav__item .nav__link:hover, .filterProduct .header .container nav .nav .nav__item .products .product__title .title__list .nav__link:hover, .header .filterProduct .container nav .nav .nav__item .products .product__title .title__list .nav__link:hover, .filterProduct .container .products .product__title .title__list .filter .product_list .list__item .list__link:hover, .filterProduct .container .filter .product_list .list__item .products .product__title .title__list .list__link:hover {
  border-bottom: 0.3rem solid #46A358;
}
.filterProduct .container .products .product__title .title__list .active .title__link, .filterProduct .container .products .product__title .title__list .pagenation a:hover .title__link, .filterProduct .container .products .pagenation .product__title .title__list a:hover .title__link, .filterProduct .container .products .product__title .title__list .title__item:hover .title__link, .filterProduct .header .container .products .product__title .title__list nav .nav .nav__item .nav__link:hover .title__link, .header .filterProduct .container .products .product__title .title__list nav .nav .nav__item .nav__link:hover .title__link, .filterProduct .header .container nav .nav .nav__item .products .product__title .title__list .nav__link:hover .title__link, .header .filterProduct .container nav .nav .nav__item .products .product__title .title__list .nav__link:hover .title__link, .filterProduct .container .products .product__title .title__list .filter .product_list .list__item .list__link:hover .title__link, .filterProduct .container .filter .product_list .list__item .products .product__title .title__list .list__link:hover .title__link {
  color: #46A358;
  font-weight: 700;
}
.filterProduct .container .products .product__title .short__by {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.filterProduct .container .products .product__title .short__by .title {
  font-size: 1.5rem;
  font-weight: 400;
  color: #3D3D3D;
  line-height: 1.6rem;
}
.filterProduct .container .products .product__title .short__by #sort {
  border: none;
  outline: none;
  font-size: 1.5rem;
  line-height: 1.6rem;
  font-weight: 400;
  color: #3D3D3D;
}
.filterProduct .container .products .product__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.1rem;
}
.filterProduct .container .products .product__list .product__list__item .product__card {
  width: 28rem;
  height: 30rem;
  background-color: #FBFBFB;
  padding: 4rem 0;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 1.2rem;
  transition: border-top 0.3s ease-in-out;
}
.filterProduct .container .products .product__list .product__list__item .product__card img {
  width: 100%;
  height: 26rem;
}
.filterProduct .container .products .product__list .product__list__item .product__card .btns {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.7rem;
}
.filterProduct .container .products .product__list .product__list__item .product__card .btns i {
  font-size: 1.5rem;
  background-color: #fff;
  padding: 1rem;
  transition: margin-top 0.3s ease-in-out;
  border-radius: 0.4rem;
}
.filterProduct .container .products .product__list .product__list__item .product__card:hover {
  border-top: 0.2rem solid #46A358;
  transition: border-top 0.3s ease-in-out;
}
.filterProduct .container .products .product__list .product__list__item .product__card:hover .btns {
  margin-top: -3.2rem;
  transition: margin-top 0.3s ease-in-out;
}
.filterProduct .container .products .product__list .product__list__item .product__card:hover .btns i:hover {
  color: #46A358;
  transition: color 0.3s ease-in-out;
}
.filterProduct .container .products .product__list .product__list__item .desc {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 2.4rem;
}
.filterProduct .container .products .product__list .product__list__item .desc .product__name {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: #3D3D3D;
}
.filterProduct .container .products .product__list .product__list__item .desc .product__price {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6rem;
  color: #46A358;
}
.filterProduct .container .products .pagenation {
  position: absolute;
  margin-top: 9rem;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.filterProduct .container .products .pagenation a {
  text-align: center;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: #3D3D3D;
  background-color: transparent;
  border: 0.1rem solid #E5E5E5;
  padding: 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color color 0.3s ease-in-out;
}
.filterProduct .container .products .pagenation .active, .filterProduct .container .products .pagenation a:hover, .filterProduct .header .container .products .pagenation nav .nav .nav__item .nav__link:hover, .header .filterProduct .container .products .pagenation nav .nav .nav__item .nav__link:hover, .filterProduct .header .container nav .nav .nav__item .products .pagenation .nav__link:hover, .header .filterProduct .container nav .nav .nav__item .products .pagenation .nav__link:hover, .filterProduct .container .products .pagenation .filter .product_list .list__item .list__link:hover, .filterProduct .container .filter .product_list .list__item .products .pagenation .list__link:hover, .filterProduct .container .products .pagenation .product__title .title__list .title__item:hover, .filterProduct .container .products .product__title .title__list .pagenation .title__item:hover {
  font-weight: 700;
  color: #fff;
  background-color: #46A358;
  border: 0.1rem solid #46A358;
  padding: 1rem;
  border-radius: 0.4rem;
  transition: background-color color 0.3s ease-in-out;
}
@media only screen and (max-width: 768px) {
  .filterProduct {
    display: none;
  }
}
.product__block {
  margin-top: 9.4rem;
}
.product__block .container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.product__block .container .product__box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 58.6rem;
  height: 25rem;
  background-color: #FBFBFB;
}
.product__block .container .product__box .left img {
  margin-top: -5rem;
}
.product__block .container .product__box .description {
  margin-top: 3.7rem;
  margin-right: 3rem;
}
.product__block .container .product__box .description h4 {
  text-transform: uppercase;
  float: right;
  text-align: right;
  width: 20rem;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 2.4rem;
  margin-bottom: 2rem;
}
.product__block .container .product__box .description p {
  float: right;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: right;
  color: #727272;
  margin-bottom: 2rem;
}
.product__block .container .product__box .description .btn {
  float: right;
  background-color: #46A358;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0.6rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 500;
  transition: box-shadow 0.3s ease-in-out;
}
.product__block .container .product__box .description .btn:hover {
  box-shadow: 0 0 3rem #46A358;
  transition: box-shadow 0.3s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .product__block {
    display: none;
  }
}
.blog {
  margin-top: 13.8rem;
  margin-bottom: 10rem;
}
.blog .container .title {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 3.5rem;
}
.blog .container .title h4 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.6rem;
  color: #3d3d3d;
  margin-bottom: 1.5rem;
}
.blog .container .title p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #727272;
  line-height: 2.4rem;
}
.blog .container .card__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4.4rem;
}
.blog .container .card__list .card {
  width: 26.8rem;
  height: 36.7rem;
  background-color: #FBFBFB;
}
.blog .container .card__list .card .desc {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  background-color: #FBFBFB;
  margin: 0.9rem 1.5rem;
}
.blog .container .card__list .card .desc .datetime {
  font-size: 1.4rem;
  color: #46A358;
  font-weight: 500;
  line-height: 1.6rem;
  margin-bottom: 0.4rem;
}
.blog .container .card__list .card .desc h4 {
  width: 22rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.6rem;
}
.blog .container .card__list .card .desc .description {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
  color: #727272;
  margin-bottom: 0.9rem;
}
.blog .container .card__list .card .desc .btn {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #3d3d3d;
  text-transform: capitalize;
  transition: color 0.3s ease-in-out;
}
.blog .container .card__list .card .desc .btn:hover {
  color: #46A358;
  transition: color 0.3s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .blog {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}
body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}/*# sourceMappingURL=main.css.map */