@use "sass:map";

$font-weights: ('extralight': 200, 'light': 300, 'regular': 400, 'medium': 500, 'semibold': 600, 'bold': 700, 'extrabold': 800, 'black': 900);

.shopping__cart{
    .container{
        .title{
            @include flexbox-row;
            align-items: center;
            gap: .5rem;
            margin: 3.6rem 0 5rem 0;
            li{
                a{
                    font-size: 1.5rem;
                    font-weight: map-get($map: $font-weights, $key: regular);
                    line-height: 1.6rem;
                    text-transform: capitalize;
                    color: #727272;
                }
                .home{
                    font-weight: map-get($map: $font-weights, $key: bold);
                }
            }
        }
        .product__cart{
            position: relative;
            display: flex;
            align-items: flex-start;
            .cart__left{
                width: min-content;
                thead{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    padding: 1.1rem 0;
                    border-bottom: .2rem solid #efefef;
                    th{
                        font-size: 1.6rem;
                        font-weight: map-get($map: $font-weights, $key: medium);
                        color: #3d3d3d;
                    }
                    th:nth-child(1){
                        padding-right: 29rem
                    }
                    th:nth-child(2){
                        padding-right: 11rem
                    }
                    th:nth-child(3){
                        padding-right: 11rem;
                    }
                }
                tbody{
                    tr{
                        @include flexbox-row;
                        align-items: center;
                        background-color: #efefef;
                        margin: 2rem 0;
                        padding-right: 2.6rem;
                        td{
                            display: flex;
                            align-items: center; 
                        }
                        .product{
                            margin-right: 7rem;
                            img{
                                width: 7rem;
                                height: 7rem;
                            }
                            .desc{
                                display: flex;
                                align-items: center;
                                flex-direction: column;
                                align-items: flex-start;
                                font-size: 1.6rem;
                                font-weight: map-get($map: $font-weights, $key: medium);
                                line-height: 1.6rem;
                                margin-left: 1.4rem;
                                width: 18rem;
                                .name{
                                    font-weight: map-get($map: $font-weights, $key: medium);
                                    margin-bottom: .6rem;
                                }
                                .sku{
                                    font-size: 1.4rem;
                                    font-weight: map-get($map: $font-weights, $key: regular);
                                    color: #727272;
                                    line-height: 1.6rem;
                                    span{
                                        color: #3d3d3d;
                                    }
                                }
                            }
                        }
                        .product__price {
                            font-size: 1.7rem;
                            font-weight: map-get($map: $font-weights, $key: medium);
                            line-height: 1rem;
                            color: #727272;
                            margin-right: 9.2rem;
                        }
                        .count{
                            display: flex;
                            align-items: center;
                            .minus{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 50%;
                                cursor: pointer;
                                width: 2.5rem;
                                height: 2.5rem;
                                background-color: $green;
                                color: #fff;
                                font-size: 1.6rem;
                                font-weight: map-get($map: $font-weights, $key: regular);
                            }
                            .minus:hover{
                                filter: drop-shadow(0 0 1rem $green);
                            }
                            .plus{
                                @extend .minus;
                            }
                            input{
                                border: none;
                                outline: none;
                                background: transparent;
                                font-size: 1.6rem;
                                font-weight: map-get($map: $font-weights, $key: regular);
                                color: #3d3d3d;
                                width: 5rem;
                                // display: flex;
                                // align-items: center;
                                // justify-content: center;
                                text-align: center;
                            }
                        }
                        .price{
                            font-size: 1.6rem;
                            font-weight: map-get($map: $font-weights, $key: bold);
                            color: $green;
                            line-height: 1.6rem;
                            margin-left: 8.3rem;
                        }
                        .btns{
                            display: flex;
                            align-items: center;
                            margin-left: 5rem;
                            font-size: 2.2rem;
                            a{
                                color: #727272;
                            }
                            a:hover{
                                filter: drop-shadow(0 0 1rem #333);
                            }
                        }
                    }
                    

                }
            }
            .cart-total{
                margin-top: 2.5rem;
                margin-left: auto;
                width: 33.2rem;
                .cart-container{
                    color: #3d3d3d;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    h3{
                        width: 100%;
                        font-size: 1.8rem;
                        font-weight: map-get($map: $font-weights, $key: bold);
                        line-height: 1.6rem;
                        padding-bottom: 1.1rem;
                        border-bottom: .1rem solid $green;
                        text-transform: capitalize;
                        margin-bottom: 1.1rem;
                    }
                    .cp{
                        font-size: 1.4rem;
                        font-weight: map-get($map: $font-weights, $key: regular);
                        line-height: 1.6rem;
                        margin-bottom: .8rem;
                    }
                    form{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        margin-bottom: 3rem;
                        margin-top: .8rem;
                        input{
                            border: none;
                            padding: 1.3rem .9rem;
                            outline: none;
                            border: .2rem solid $green;
                        }
                        .input{
                            width: calc(100% - 10.2rem);
                            border-top-left-radius: .6rem;
                            border-bottom-left-radius: .6rem;
                            font-size: 1.4rem;
                            font-weight: map-get($map: $font-weights, $key: 'regular');
                            line-height: 1.5rem;
                            [placeholder]{
                                color: #a5a5a5;
                            }
                        }
                        
                        .btn{
                            border-top-right-radius: .6rem;
                            border-bottom-right-radius: .6rem;
                            width: calc(100% - 23rem);
                            background-color: $green;
                            color: #fff;
                            font-size: 1.5rem;
                            font-weight: map-get($map: $font-weights, $key: bold);
                            cursor: pointer;
                        }
                    }
                    .subtotal{
                        font-size: 1.5rem;
                        font-weight: map-get($map: $font-weights, $key: regular);
                        line-height: 1.6rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        span{
                            position: absolute;
                            right: 0;
                            font-weight: map-get($map: $font-weights, $key: bold);
                        }
                    }
                    .shipping{
                        @extend .subtotal;
                        margin-bottom: .8rem;
                    }
                    .coupon{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 1.5rem;
                        font-weight: map-get($map: $font-weights, $key: regular);
                        line-height: 1.6rem;
                        margin: 1.5rem 0;
                        span{
                            position: absolute;
                            right: 0;
                            margin-left: auto;
                        }
                    }
                    .view_shipping{
                        margin-left: auto;
                        font-size: 1.2rem;
                        font-weight: map-get($map: $font-weights, $key: regular);
                        color: $green;
                        margin-bottom: 2.6rem;
                    }
                    .total{
                        font-size: 1.6rem;
                        font-weight: map-get($map: $font-weights, $key: bold);
                        line-height: 1.6rem;
                        text-transform: capitalize;
                        span{
                            color: $green;
                            position: absolute;
                            right: 0;
                        }
                    }
                    .btn-group{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        .btn-checkout{
                            width: 100%;
                            text-align: center;
                            font-size: 1.5rem;
                            font-weight: map-get($map: $font-weights, $key: bold);
                            line-height: 1.6rem;
                            padding: 1.2rem 0;
                            background-color: $green;
                            color: #fff;
                            border-radius: .3rem;
                            margin-top: 3rem;
                            margin-bottom: 1.4rem;
                        }
                        .btn-shop{
                            font-size: 1.5rem;
                            font-weight: map-get($map: $font-weights, $key: regular);
                            line-height: 1.6rem;
                            color: $green;
                        }
                    }
                }
            }
        }
        
    }
}